html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url('/static/images/YarnSale.jpeg') no-repeat center center fixed;
    background-size: cover;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
    align-items: center; /* Centers content horizontally */
}

/* Styling for the content on the home page */
.text-center {
    margin-top: 2rem; /* Adjust top margin to position the text higher */
}

.text-center h1 {
    color: #F0A500;
    font-size: 4rem; /* Large font size for the main heading */
    text-shadow: 2px 2px 8px #1B1A17; /* Text shadow for legibility */
}

.text-center p {
    color: #fff;
    font-size: 1.5rem; /* Size of the subheading */
    text-shadow: 2px 2px 8px #1B1A17; /* Text shadow for legibility */
}


.navbar {
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0)); 
}

.navbar {
    justify-content: center;
}

/* Style for navbar links */
.custom-nav-link {
    color: #0c0800; /* Your desired color */
    font-size: 1.5rem;
}

.custom-nav-link:hover {
    color: #fdfdfd; /* Your desired color on hover */
    /* Other hover styles */
}


/* Footer color */
.footer {
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0)); 
}

/* Footer text color */
.footer .text-muted {
    color: #fff;
     
}