{% extends 'base.html'%}
{% load static %}

{% block content %}
    <!-- Simple Content Area -->
    <div class="utility-page-content">
        <h1>The About Page</h1>
        <p>      This Project showcases my ability as a Fullstack Junior Dev.
            It is a mock-up of a e-commerce shop that sells yarn.

            It utilizes Django, A framework for web development, along with
            djangorestframework (DRF) and Pillow (for image handling).
            
            Utilizing DRF I created a RestAPI that allows cURL access, and
            leveraged its built in token creation and assignment for security.

            With HTML and CSS I provided a frontend that is enteractive, and 
            user friendly. There is a form submission on the contact page,
            although the form has been written, its been commented out. 
        </p>
    </div>
{% endblock %}