{% extends 'base.html'%}
{% load static %}
{% load shop_filters %}

{% block content %}
<div class="container my-5 py-5">
    <!-- Search Form -->
    <form action="{% url 'shop' %}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search products" name="q" value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <h1 class="text-center">The Shop Page</h1>
    <p class="text-center">The Page Where You Can Buy The Things</p>
    
    <div class="row row-eq-height">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <!-- Card Image -->
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <!-- Card Body -->
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <!-- Card Overlay for Attributes -->
                <div class="card-overlay" style="display: none;">
                    <ul>
                        {% for attribute in product.attributes.all %}
                            <li>{{ attribute.name }}: {{ attribute.value }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Card Footer -->
                <div class="card-footer d-flex align-items-center">
                    <span class="price">Price: ${{ product.price|cents_to_dollars }}</span>
                    <button onclick="showAttributes(this)" class="btn btn-primary view-details-btn">View Details</button>
                    <button onclick="addToCart({{ product.id }})" class="btn btn-success">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function showAttributes(button) {
        // Find the closest parent card element
        var card = button.closest('.card');
        // Toggle the display of the overlay
        var overlay = card.querySelector('.card-overlay');
        overlay.style.display = overlay.style.display === 'block' ? 'none' : 'block';
    }
    </script>
{% endblock %}