{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YarnSale - Your Online Yarn Store{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block extrahead %}{% endblock %}
</head>
<body>
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-md">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link custom-nav-link" href="{% url 'home' %}">YARNSALE</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link custom-nav-link" href="{% url 'shop' %}">SHOP</a>
                    </li> 
                    <li class="nav-item active">
                        <a class="nav-link custom-nav-link" href="{% url 'about' %}">ABOUT</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link custom-nav-link" href="{% url 'contact' %}">CONTACT</a>
                    </li>
                    <!-- Add more navigation items here -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content Area -->
    <main role="main" class="container mt-4">
        {% block content %}
        <!-- The unique content of each page will be inserted here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">© 2024 YarnSale, Inc. All rights reserved.</span>
            <span class="text-muted">Not Intended For Use.</span>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block extrajs %}{% endblock %}
</body>
</html>