<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YarnSale Store{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    <!-- Add CSS links here (e.g., Bootstrap) -->
</head>
<body>
    <header>
        <!-- Navigation bar, logo, etc. -->
    </header>

    <main>
        {% block content %}
        The is Base.html main content
        <!-- Main page content will be here -->
        {% endblock %}
    </main>

    <footer>
        This is Base.html footer content
        <!-- Footer content -->
    </footer>

    <!-- Add JavaScript files at the end of the body -->
    {% block extrajs %}{% endblock %}
</body>
</html>